
}

._2flJquhj8pd5N4jrWgXxrF {
    position: fixed;
    left: 0;
    right: 0;
}

.diary-emotion-cache-1mqn4bh-container{
    position: fixed;
    background: #0008;
    border-radius: 0px 0px 30px 30px;
    left: 0;
    right: 0;
    z-index: 10;
}

.diary-emotion-cache-10kh96k,
.diary-emotion-cache-zqw19v-wrapper{
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 0px 10px
}

.diary-emotion-cache-1699b2g-wrapper,
.diary-emotion-cache-4ylwtt,
.diary-emotion-cache-u7pk0l,
.diary-emotion-cache-mi8r7x,
.diary-emotion-cache-1i8n7e-root-isActive,
.diary-emotion-cache-13agewo-root,
.diary-emotion-cache-xtqwjo,
.diary-emotion-cache-1yfkn84,
.diary-emotion-cache-1f6rv3l-buttonToggle:hover,
.diary-emotion-cache-u7pk0l:hover,
.diary-emotion-cache-mi8r7x:hover,
.diary-emotion-cache-th4zjy-subMenu,
.diary-emotion-cache-112lbja,
.diary-emotion-cache-18egq7l-ratingWrapper-loser,
.diary-emotion-cache-ye5vh7-subjectWrapper:hover,
.diary-emotion-cache-96y5m-place,
.diary-emotion-cache-1v6yaau,
.diary-emotion-cache-tvt58a,
.diary-emotion-cache-szk9lp-listWrapper,
.diary-emotion-cache-16rp536,
.diary-emotion-cache-16rp536:hover,
.diary-emotion-cache-dxpxra{
    background: 0;
    border-width: 0;
}

.diary-emotion-cache-112lbja:hover{
    background: #0005;
    border-width: 0;
}

._2Hz0dMzEnbunKqp2jJNVLf:hover,
._2oLsJ0G_Y3BBW0m9lqC1ES:hover{
    background: #00f3;
}

.diary-emotion-cache-umpxcs-notationBlock,
.diary-emotion-cache-ycst3p-arrowDownIcon{
    background: 0;
}

.diary-emotion-cache-1avfqwp-root {
    background: 0;
    background-image: url(https://github.com/Diramix/mos-ru-theme/blob/main/src/assets/background.jpg?raw=true);
    background-size: cover;
    background-position: center;
}

._1Rc6ggAGWD8XTtO0cpqLZm {
    filter: invert(100%) contrast(500%);
}

._2flJquhj8pd5N4jrWgXxrF,
.diary-emotion-cache-4lre7b-root-timeLine,
.diary-emotion-cache-g87qjg-header,
.diary-emotion-cache-1jpmz2n-root,
.diary-emotion-cache-q3qvjj-yearlyCardWrapper,
.diary-emotion-cache-1kdto6w{
    background-color: 0;
    background: #0005;
}

.diary-emotion-cache-1jiga8l-dateComponent,
.diary-emotion-cache-nmkjrq-dateComponent,
.diary-emotion-cache-187nkvf-dateComponent,
.diary-emotion-cache-y149zs-dateComponent,
.diary-emotion-cache-1247a04-dateComponent,
.diary-emotion-cache-11z1877-dateComponent,
.diary-emotion-cache-1rorn9q-dateComponent,
.diary-emotion-cache-1alayx7-dateComponent,
.diary-emotion-cache-1gnx3ta-dateComponent{
    background: 0;
    backdrop-filter: invert(100%) brightness(0.2);
}

._2flJquhj8pd5N4jrWgXxrF {
    background: #0008
}

.diary-emotion-cache-ys16np-wrapper,
.diary-emotion-cache-10kh96k{
    backdrop-filter: blur(20px);
    border-radius: 10px;
}._1exDEpPt8fdB0LcgwRBCGp,
._39kZUq4rPycYq0oCOeUqre,
._38GMaLW1298wJ86sPT9H2U,
.diary-emotion-cache-1fud8t9-indicator,
._1i0-egeaEMJUGmPYvd967q,
.diary-emotion-cache-xqom39-iconQuestion,
.diary-emotion-cache-1b0s84j{
    display: none;
}

.diary-emotion-cache-65w3dh,
.diary-emotion-cache-1k4rkhd,
.diary-emotion-cache-1y2u99y,
.diary-emotion-cache-gluwdr,
.diary-emotion-cache-t2vms2,
.diary-emotion-cache-1a6psz7,
.diary-emotion-cache-u8apfs,
.diary-emotion-cache-1c1p77g-root-desktop-active,
.diary-emotion-cache-11xc553-root-collapsed-active,
.diary-emotion-cache-xtqwjo:hover,
.diary-emotion-cache-1yfkn84:hover,
.diary-emotion-cache-cvb8ai-root-desktop,
.diary-emotion-cache-th4zjy-subMenu:hover,
.diary-emotion-cache-19mb8h9-card,
.diary-emotion-cache-1mznu6e-root,
.diary-emotion-cache-15yig6o-root,
.diary-emotion-cache-pj1ics,
.diary-emotion-cache-ths3ic-subMenu-isActive,
.diary-emotion-cache-1s4qr0m-root,
.diary-emotion-cache-kv35in-root,
.diary-emotion-cache-18sz06k-root,
.diary-emotion-cache-kr073y-root,
.diary-emotion-cache-1hgr7t4-head,
.diary-emotion-cache-rer5n1,
.diary-emotion-cache-15i311l,
.diary-emotion-cache-17xrds8,
.diary-emotion-cache-ip6wlg,
.diary-emotion-cache-5bxkv9:hover,
.diary-emotion-cache-1blf645,
.diary-emotion-cache-fyfemv,
.diary-emotion-cache-nzvq6p,
.diary-emotion-cache-vhzuup-root,
.diary-emotion-cache-1y1fyzn-listItem-selectedListItem-listItem-selectedListItem,
.diary-emotion-cache-1ck8q5e,
.diary-emotion-cache-sy8d59,
.diary-emotion-cache-jdhxxa,
.diary-emotion-cache-3z74t6-wrapper,
.diary-emotion-cache-2n7vuh-root,
.diary-emotion-cache-11atgoi-root,
.diary-emotion-cache-1iiwhsv-stubBlock,
.diary-emotion-cache-jyxdy1-root,
.diary-emotion-cache-1fkv5ww-root,
.diary-emotion-cache-49ewc9-headerBlock,
.diary-emotion-cache-1tqqjr8-tabs,
.diary-emotion-cache-iipem9-tabsBlock,
.diary-emotion-cache-10xvo28-root,
.diary-emotion-cache-hhvvxi-mobileHeader,
.diary-emotion-cache-tgdr7k-root,
.diary-emotion-cache-d0iipu,
.diary-emotion-cache-1bxwasq,
.diary-emotion-cache-tnq82l,
.diary-emotion-cache-ec13e4,
.diary-emotion-cache-q3jqwq-root-timeLine,
.diary-emotion-cache-1vcbd72-rootWeek,
.diary-emotion-cache-ucorbh-root,
.diary-emotion-cache-1loyruy-root,
.diary-emotion-cache-1vc0qdn-gridTitle,
.diary-emotion-cache-1ufzals-gridTitle0,
.diary-emotion-cache-1orbyqd-firstLine,
.diary-emotion-cache-1k8tin2,
.diary-emotion-cache-rwae6v,
.diary-emotion-cache-3s0bte,
.diary-emotion-cache-1b6cmb5,
.diary-emotion-cache-1ycryg1,
.diary-emotion-cache-1p825eh,
.T9Fo4I7nyBAwO3pQ6Nx1,
.jxILb6lc6cOTJR_ibQi2{
    background-color: 0;
    background: #0005;
}

.diary-emotion-cache-1c1p77g-root-desktop-active:hover,
.diary-emotion-cache-11xc553-root-collapsed-active:hover,
.diary-emotion-cache-cvb8ai-root-desktop:hover,
.diary-emotion-cache-ths3ic-subMenu-isActive:hover,
.diary-emotion-cache-kv35in-root:hover,
.diary-emotion-cache-15i311l:hover,
.diary-emotion-cache-ip6wlg:hover,
.diary-emotion-cache-fyfemv:hover,
.diary-emotion-cache-1y1fyzn-listItem-selectedListItem-listItem-selectedListItem:hover,
.diary-emotion-cache-sy8d59:hover,
.diary-emotion-cache-10xvo28-root:hover,
.diary-emotion-cache-ec13e4:hover,
.diary-emotion-cache-1b6cmb5:hover{
    background-color: 0;
    background: #0008;
}

.diary-emotion-cache-1b7h2zw-popper,
.diary-emotion-cache-zqw19v-wrapper,
.diary-emotion-cache-1lidml8-footerNavigation,
.diary-emotion-cache-1rp1n13-subMenu,
.diary-emotion-cache-14hr88u,
.MuiPaper-elevation,
.diary-emotion-cache-1ri2y3,
.diary-emotion-cache-18mwfth,
.diary-emotion-cache-pnexxx-listWrapper{
    background: 0;
    backdrop-filter: blur(30px);
}

.diary-emotion-cache-4kct0q-week-weekSelected,
.diary-emotion-cache-3gp2rc-week{
    background: #000;
    border-width: 0;
}

.diary-emotion-cache-q3jqwq-root-timeLine,
.diary-emotion-cache-1loyruy-root{
    border-width: 3px;
    border-style: solid;
    border-color: #E19F05
}

.diary-emotion-cache-tgdr7k-root{
    border-radius: 10px 10px 0px 0px
}

.diary-emotion-cache-hhvvxi-mobileHeader{
    border-radius: 0px 0px 10px 10px
}

.diary-emotion-cache-tnq82l{
    border-radius: 10px;
}

._2flJquhj8pd5N4jrWgXxrF {
    position: fixed;
    left: 0;
    right: 0;
}

.diary-emotion-cache-1mqn4bh-container{
    position: fixed;
    background: #0008;
    border-radius: 0px 0px 30px 30px;
    left: 0;
    right: 0;
    z-index: 10;
}

.diary-emotion-cache-10kh96k,
.diary-emotion-cache-zqw19v-wrapper{
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 0px 10px
}

.diary-emotion-cache-1699b2g-wrapper,
.diary-emotion-cache-4ylwtt,
.diary-emotion-cache-u7pk0l,
.diary-emotion-cache-mi8r7x,
.diary-emotion-cache-1i8n7e-root-isActive,
.diary-emotion-cache-13agewo-root,
.diary-emotion-cache-xtqwjo,
.diary-emotion-cache-1yfkn84,
.diary-emotion-cache-1f6rv3l-buttonToggle:hover,
.diary-emotion-cache-u7pk0l:hover,
.diary-emotion-cache-mi8r7x:hover,
.diary-emotion-cache-th4zjy-subMenu,
.diary-emotion-cache-112lbja,
.diary-emotion-cache-18egq7l-ratingWrapper-loser,
.diary-emotion-cache-ye5vh7-subjectWrapper:hover,
.diary-emotion-cache-96y5m-place,
.diary-emotion-cache-1v6yaau,
.diary-emotion-cache-tvt58a,
.diary-emotion-cache-szk9lp-listWrapper,
.diary-emotion-cache-16rp536,
.diary-emotion-cache-16rp536:hover,
.diary-emotion-cache-dxpxra{
    background: 0;
    border-width: 0;
}

.diary-emotion-cache-112lbja:hover{
    background: #0005;
    border-width: 0;
}

._2Hz0dMzEnbunKqp2jJNVLf:hover,
._2oLsJ0G_Y3BBW0m9lqC1ES:hover{
    background: #00f3;
}

.diary-emotion-cache-umpxcs-notationBlock,
.diary-emotion-cache-ycst3p-arrowDownIcon{
    background: 0;
}

.diary-emotion-cache-1avfqwp-root {
    background: 0;
    background-image: url(https://github.com/Diramix/mos-ru-theme/blob/main/src/assets/background.jpg?raw=true);
    background-size: cover;
    background-position: center;
}

._1Rc6ggAGWD8XTtO0cpqLZm {
    filter: invert(100%) contrast(500%);
}

._2flJquhj8pd5N4jrWgXxrF,
.diary-emotion-cache-4lre7b-root-timeLine,
.diary-emotion-cache-g87qjg-header,
.diary-emotion-cache-1jpmz2n-root,
.diary-emotion-cache-q3qvjj-yearlyCardWrapper,
.diary-emotion-cache-1kdto6w{
    background-color: 0;
    background: #0005;
}

.diary-emotion-cache-1jiga8l-dateComponent,
.diary-emotion-cache-nmkjrq-dateComponent,
.diary-emotion-cache-187nkvf-dateComponent,
.diary-emotion-cache-y149zs-dateComponent,
.diary-emotion-cache-1247a04-dateComponent,
.diary-emotion-cache-11z1877-dateComponent,
.diary-emotion-cache-1rorn9q-dateComponent,
.diary-emotion-cache-1alayx7-dateComponent,
.diary-emotion-cache-1gnx3ta-dateComponent{
    background: 0;
    backdrop-filter: invert(100%) brightness(0.2);
}

._2flJquhj8pd5N4jrWgXxrF {
    background: #0008
}

.diary-emotion-cache-ys16np-wrapper,
.diary-emotion-cache-10kh96k{
    backdrop-filter: blur(20px);
    border-radius: 10px;
}